@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fulloutline: calc(100vh + 172px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

text {
  font: 18px serif;
  user-select: none;
  white-space: pre;
}
rect {
  fill: #eee;
  stroke: #afafaf;
  stroke-width: 1px;
}
line {
  stroke: #555;
  stroke-width: 2;
  stroke-linecap: round;
}
circle {
  stroke: #555;
  stroke-width: 2;
  fill: #fff;
}
path {
  stroke: #555;
  fill: #555;
  stroke-width: 2;
}
